.button {
  padding: 16px;
  background-color: white;
  border-radius: 32px;
  box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 10%);
  font-weight: 800;
  color: #4399fa;
  border-color: #4399fa;
  text-align: center;
  margin: 8px;
  cursor: pointer;
}
